#graphpanel {
    border: solid black thin;
}

#toolbarIconMenu {

  position: relative; 
  display: grid;
  justify-items: center;
  background-color: rgb(72, 90, 104);
  border: solid black thin;
  width: 1100;
  height: 40;
  grid-auto-flow: column;
}

/* .toolbarDivs {
  position: relative;
  width: 50;
  height: 100%;
  align-content: center;
} */

/* #toolbar{
	background-color: rgb(204, 44, 44);
  border: solid black thin;
} */

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  font-size: 12px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #fc0909;}

.contextualMenu{
    font-size: 13px;
    position: absolute;
    padding: 8px 0;
    background: rgb(37, 37, 38);
    box-shadow: 1px 1px 10px #000;
    border-radius: 3px;
    margin:0;
    list-style: none;
    color: #cccccc;
}
.contextualMenuHidden{
    display: none;
}

.contextualMenuItem{
    display: block;
    padding: 5px 8px;
    cursor: default;
}
.contextualMenuItem:hover{
    background: #080a79;
}

    .contextualMenuItemIcon{
        float: left;
        width:16px;
        height: 16px;
    }
    .contextualMenuItemTitle{
        text-align: left;
        line-height: 16px;
        display: inline-block;
        padding: 0px 0px 0px 7px;
    }
    .contextualMenuItemTip{
        float: right;
        padding: 0px 7px 0px 50px;
        text-align: right;
        line-height: 16px;
    }
    .contextualMenuItemOverflow{
        float: right;
        width:16px;
        height: 16px;
        padding: 1px 0px 0px 0px;
    }
        .contextualMenuItemOverflow .contextualMenuItemOverflowLine{
            display: block;
            height: 1px;
            margin: 3px 2px;
            background: #999;
        }
        .contextualMenuItemOverflow.hidden .contextualMenuItemOverflowLine{
            background: transparent;
        }

.contextualMenuSeperator{
    display: block;
    padding: 5px 5px;
}
    .contextualMenuSeperator div{
        width:100%;
        height:1px;
        background: #999;
    }

 .contextualSubMenu{
     padding: 0;
     margin: 0;
     list-style: none;
     border-top:1px solid #999;
     border-bottom: 1px solid #999;
     box-shadow: inset 0px 0px 15px #000 ;
 }
 
 .contextualSubMenu .contextualMenuItem:hover{
    background: #080a79;
 }