#graphpanel {
    border: solid black thin;
}

#toolbarIconMenu {

  position: float;
  background-color: rgb(72, 90, 104);
  border: solid black thin;
  width: 1100;
}

/* #toolbar{
	background-color: rgb(204, 44, 44);
  border: solid black thin;
} */

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  font-size: 12px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}